# Environement variables
.env

# Logs
*.log

# Downloaded modules
node_modules
bun.lock
package-lock.json

# Local storage
data.json

# Javascript generated & code archives
dist

# Generated templates
*.service