# Environement variables
.env
src/mmun_guild/constants.ts

# Logs
*.log

# Downloaded modules
node_modules
bun.lock
package-lock.json

# Local storage
data.json

# Javascript generated & .service 
dist

# Generated templates
*.service